body{
    font-family: Arial;
    background:#eef4fa;
    text-align:center;
    margin:20px;
}

/* Header */
.header{
    background:#003366;
    color:white;
    padding:20px;
    border-radius:10px;
}

.header h1{
    margin:0;
    font-size:38px;
}

.header h2{
    margin-top:10px;
    color:#ffd700;
}

/* Cards */
.cards{
    display:flex;
    justify-content:center;
    gap:20px;
    margin:20px;
}

.card{
    background:white;
    padding:20px;
    width:220px;
    font-size:20px;
    border-left:6px solid #004aad;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
    border-radius:8px;
}

/* Search */
input{
    width:50%;
    padding:12px;
    margin:20px;
    font-size:18px;
    border:1px solid gray;
    border-radius:6px;
}

/* Table */
table{
    width:90%;
    margin:auto;
    border-collapse:collapse;
    background:white;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

th{
    background:#004aad;
    color:white;
    padding:12px;
}

td{
    padding:10px;
    border:1px solid #ddd;
}

tr:nth-child(even){
    background:#f2f8ff;
}

tr:hover{
    background:#d8ebff;
}
